html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 600px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #eee;
}

body a, a:visited, a:active, a:hover {
    color: blue;
    text-decoration: none;
    
}

#main {
    min-width: 420px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(200,200,200,0.7);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(200,200,200,0.7);
}

#titleBar {
    width: 100%;
    height: 35px;
    font-size: 22px;
    padding-left: 10px;
    font-family: cursive;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: rgba(221,221,221,0.9);
    box-shadow: 0px 3px 7px rgba(100,100,100, 1);
    
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    cursor: default;
}

#optionsButton {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#optionsDiv {
    padding: 5px;
    display: none;
    padding-top: 40px;
    font-family: cursive;
    font-size: 16px;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 40px;
}

h2 {
    margin: 0;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

#copyAssistant {
    display: none;
    width: 1px;
    height: 1px;
    position: absolute;
}

#messageDiv {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    cursor: default;

    background-color: white;
    opacity: 0.9;
    font-family: inherit;
    font-size: calc(5px + 5vw);
    width: 100%;
    padding-top: 5px;
    height: 80px;
    text-align: center;
    position: fixed;
    margin: 50% auto;
    display: none;
    z-index: 1;
}

main {
    padding-top: 40px;
    text-align: center;
}

.item {
    background-color: #ccc;
    border: 1px solid #bbb;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    height: 30px;
    min-width: 120px;
    padding: 3px;
    padding-top: 7px;
    margin: 6px 5px 0px 5px;
    display: inline-block;
    resize: none;
}

.item:disabled {
    color: unset;
}

.item:active, .item:hover {
    background-color: #aaa;
}

#optionsPage {
    padding: 5px;
    font-family: cursive;
    font-size: 16px;
}

label, input, span {
    cursor: pointer;
}

.disabled {
    cursor: default;
    color: #bbb;
}

#optionsDiv span:hover, label:hover, input:hover {
    font-style: italic;
}

input {
    font-family: inherit;
}

#editorDiv {
    display: none;
    font-size: 14px;
}

#createNewFileDiv > div {
    display: none;
}